#home
{
height:50px;
word-spacing:1rem;
padding-left:4%;
padding-top:30px;
font-size:18px;
}
a
{
text-decoration:none;
color:black;
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  background:Brown;
  color:white;
  padding:.5rem .5rem;
  border:.2rem solid var(--Brown);
  cursor: pointer;
  font-size: 1.5rem;
}
.btn:hover{
  background:rgba(102,16,16,.2);
  color:var(--Brown);
}



form{
  margin-left:35%;
  margin-right:35%; 
  margin-top:5%;
  padding:1rem 2rem;
  border-radius: .5rem;
  background:#fff;
  width:30%;
  position:fixed;
    }
h3{
  font-size: 2rem;
  color:Brown;
  text-transform: uppercase;
  text-align: center;
  padding:1rem 0;
}

.box{
  width:95%;
  padding:.5rem;
  font-size: 1.5rem;
  color:#333;
  margin:.5rem 0;
  border:.1rem solid rgba(0,0,0,.3);
  text-transform: none;
}
.box:hover{
  border-color:Brown;
}
.btn{
  display: block;
  width:100%;
}






