<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> about</title>
</head>
<body>
    
<div class="about-section" style="text-align:center">
    <h2>About Us Page</h2>
    <p>I'm Sivapriya final year CSE created this  IBM project.</p>
    <p>I'm One of the team members of this IBM project.</p>
  </div>
  </br>
  </br>
  <h2 style="text-align:center">About Project</h2>
  <p style="text-align:center">Web Application developed using Python with Flask Web Framework</p>
</br>
</br>
<a style="text-align:center" href='/home'>Home</a>
</body>
</html>