<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

    <link rel="stylesheet" href="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Style/cart.css"/>
</head>

<body bgcolor="grey">
    
    
<div style="background-color:#BABEBD" id="home">
        
	<a href="/home">Home</a>
        <a href="/product">Products</a>
        <a href="#blog">Blog</a>
        <a href="/home">About</a>
        <a href="/contact">Contact</a>
	
	<a href="/login"><i class="fa-solid fa-arrow-right-to-bracket" id="login-btn"></i></a>
</div>

    
    <section id="page-header" class="about-header">
        <h2>Cart</h2>
        <center><h1>Add your coupon code & SAVE upto 70%!</h1></center>
    </section>
    
    <section id="cart" class="section-p1">
        <table width="70%" bordercolor="brown" id="tab">
            <thead>
                <tr style="background-color:brown;color:white">
                    
                    
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
	
                <tr>
                   
                   
                    <td>Men's brown wallet</td>
                    <td>₹1000</td>
                    <td><input type="number" value="1"></td>
                    <td>₹1000</td>
                  
                </tr>
                <tr>
                    
                    <td>Men's hoodie jacket</td>
                    <td>₹1500</td>
                    <td><input type="number" value="1"></td>
                    <td>₹1500</td>
		    
                </tr>
                <tr>
                    
                    <td>Leather Shoe-Brown</td>
                    <td>₹9800</td>
                    <td><input type="number" value="1"></td>
                    <td>₹9800</td>
                    
                </tr>
            </tbody>
        </table>
    </section>
    
    
        
           
    </section>
<section>
    
          <div class="copyright">
              <center><p> C 2022, PNT2022TMID39615 - Smart Fashion Recommender Application </p></center>
          </div>
       </section>   
    
    
    

    
</body>

</html>