<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel="stylesheet" href="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Style/Mens.css"/>
   
</head>
<body>
<!--------------------------------------mens wear--------------------------------->
<section class="packages" id="packages">

    <h1 class="heading">
        <span>M</span>
        <span>e</span>
        <span>n</span>
        <span>'</span>
        <span>s</span>
        <span>W</span>
        <span>e</span>
        <span>a</span>
        <span>r</span></h1>
    <center><h1 style="color:Brown">FORMAL & CASUAL WEAR</h1></center>


    <div class="box-container">
        
        <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/form_1.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Formal Shirt<p>Dark blue and white check formal shirt<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
        </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/form_2.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Formal Shirt<p>Plain Dark blue shirt<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn" onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
       <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/form_3.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Formal Shirt<p>Silver color with dark border plain shirt<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div>    </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/form_4.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Formal Shirt<p>Dark blue and white formal shirt<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn" onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/form_5.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Formal Shirt<p>White with black solid stipe shirt<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div>
</div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/form_6.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Formal Shirt<p>Sky blue shirt<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>

<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/Hoodie_1.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Casuals<p>Grey hoodie<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/Hoodie_2.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Casuals<p>red hoodie<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/Hoodie_3.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Casuals<p>black with white stipe hoodie<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/Hoodie_4.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Casuals<p>Plain silver hoodie<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/Hoodie_5.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Casuals<p>black hoodie<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/Hoodie_6.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Casuals<p>silver mixed white hoodie<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
</section>
<hr>
<section class="packages" id="packages">

    
    <center><h1 style="color:Brown">TRADITIONAL WEAR</h1></center>


    <div class="box-container">
        
        <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_1.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i>Kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div>
        </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_2.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
       <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_3.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div>    </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_4.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_5.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div>
</div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_6.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/kurta_7.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_8.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_9.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_10.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_11.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/kurta_12.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  onclick="Myfunction()">Buy now</a></p></h3>
           </div></div>
</section>
<!-----------------------------------------------------Women wear--------------------------------------------------->
<hr>
<section class="packages" id="packages">
<h1 class="heading">
        <span>W</span>
        <span>o </span>
        <span>m</span>
        <span>e</span>
        <span>n</span>
        <span>'</span>
        <span>s</span>
        <span>W</span>
        <span>e</span>
        <span>a</span>
        <span>r</span></h1>
    <center><h1 style="color:Brown">TRADITIONAL WEAR</h1></center>


    <div class="box-container">
        
        <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_1.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> banaras saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1500<span> Rs.2000</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div>
        </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_2.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Kanchi pattu saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div></div>
       <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_3.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> mysore silk saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.900<span> Rs.1500</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div>    </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_4.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> designer saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1000</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_5.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Shiffan saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.2999<span> Rs.4000</span><br>
                   <a href="/buy" class="btn"  >Buy now</a></p></h3>
           </div>
</div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_6.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> polyester saree<p>Ethnic look with stunning designsbr>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.800<span> Rs.1000</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div></div>

<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_7.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Cotton saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1500</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_8.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> ethnic wear<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1000<span> Rs.2000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_9.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> poonam saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.899<span> Rs.1000</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_10.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> banaras saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1000</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_11.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> embroidery saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn"  >Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_12.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Raw silk saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>

        </section>
<hr>
<section class="packages" id="packages">

    
    <center><h1 style="color:Brown">PARTY WEAR</h1></center>


    <div class="box-container">
        
        <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_1.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i>Short gown<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
        </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_2.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurthi<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.800<span> Rs.1500</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
       <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_3.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Gown<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>    </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_4.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Gown<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1000<span> Rs.2000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_5.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> long gown<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.400<span> Rs.700</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div>
</div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_6.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> long gown<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.800<span> Rs.1500</span><br>
                   <a href="/Buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_7.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> long gown<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.900</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_8.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurti with long shrug<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1500<span> Rs.2000</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_9.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i>kurti top with bottom skirt<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_10.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> long salwar<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1500</span><br>
                   <a href="/buy" class="btn"  >Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_11.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Trendy gown<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1999</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_12.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> short skirt<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.900<span> Rs.1999</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
</section>
<!----------------------------------------Kids wear------------------------------------------>
<hr>
<section class="packages" id="packages">
<h1 class="heading">
        <span>K</span>
        <span>i</span>
        <span>d</span>
        <span>s</span>
        <span>W</span>
        <span>e</span>
        <span>a</span>
        <span>r</span></h1>
    <center><h1 style="color:Brown">GIRLS</h1></center>


    <div class="box-container">
        
        <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_1.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Frock<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1500<span> Rs.2000</span><br>
                   <a href="/buy" class="btn"  >Buy now</a></p></h3>
           </div>
        </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_2.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Frock<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
       <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_3.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Frock<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.900<span> Rs.1500</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div>    </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_4.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Frock<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_5.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> T-shirt<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.2999<span> Rs.4000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
</div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_6.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Long frock<p>Ethnic look with stunning designsbr>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.800<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>

<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_7.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Tops<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1500</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_8.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Frock<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1000<span> Rs.2000</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_9.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Jerkin<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.899<span> Rs.1000</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_10.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Skirt shirt<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_11.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Jerkin<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_12.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Tops<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div></div>

        </section>
<hr>
<section class="packages" id="packages">

    
    <center><h1 style="color:Brown">BOYS</h1></center>


    <div class="box-container">
        
        <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_1.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i>overcoat<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
        </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_2.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.800<span> Rs.1500</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
       <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_3.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn" >Buy now</a></p></h3>
           </div>    </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_4.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Black overcoat<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1000<span> Rs.2000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_5.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Jean<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.400<span> Rs.700</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
</div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_6.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Jacket<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.800<span> Rs.1500</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_7.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Jacket<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.900</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_8.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> blue shirt<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1500<span> Rs.2000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_9.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i>Dungaree<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_10.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Jeans<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1500</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_11.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> T-shirt<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1999</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_12.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Jacket<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.900<span> Rs.1999</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>

</section>

</body>
</html>