<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Women's Wear</title>
    <link rel="stylesheet" href="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Style/Women.css"/>
    <script src="https://kit.fontawesome.com/4ee549fde5.js" crossorigin="anonymous"></script>
</head>

<body bgcolor="white">

<section class="packages" id="packages">

    <h1 class="heading">
        <span>W</span>
        <span>o </span>
        <span>m</span>
        <span>e</span>
        <span>n</span>
        <span>'</span>
        <span>s</span>
        <span>W</span>
        <span>e</span>
        <span>a</span>
        <span>r</span></h1>
    <center><h1 style="color:Brown">TRADITIONAL WEAR</h1></center>


    <div class="box-container">
        
        <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_1.jpg" alt=""/>
            <div class="content">="
                <h3><i class="fa-solid fa-paperclip"></i> banaras saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1500<span> Rs.2000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
        </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_2.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Kanchi pattu saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
       <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_3.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> mysore silk saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.900<span> Rs.1500</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>    </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_4.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> designer saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_5.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Shiffan saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.2999<span> Rs.4000</span><br>
                   <a href="/buy" class="btn">buy now</a></p></h3>
           </div>
</div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_6.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> polyester saree<p>Ethnic look with stunning designsbr>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.800<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>

<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_7.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Cotton saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1500</span><br>
                   <a href="#book" class="btn">book now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_8.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> ethnic wear<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1000<span> Rs.2000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_9.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> poonam saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.899<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_10.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> banaras saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_11.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> embroidery saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/traditional_wear/saree_12.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Raw silk saree<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>

        </section>
<hr>
<section class="packages" id="packages">

    
    <center><h1 style="color:Brown">PARTY WEAR</h1></center>


    <div class="box-container">
        
        <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_1.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i>Short gown<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
        </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_2.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurthi<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.800<span> Rs.1500</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
       <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_3.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Gown<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>    </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_4.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Gown<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1000<span> Rs.2000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_5.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> long gown<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.400<span> Rs.700</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
</div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_6.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> long gown<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.800<span> Rs.1500</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_7.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> long gown<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.900</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_8.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurti with long shrug<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1500<span> Rs.2000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_9.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i>kurti top with bottom skirt<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_10.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> long salwar<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1500</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_11.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Trendy gown<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1999</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/women/party_wear/modern_12.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> short skirt<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.900<span> Rs.1999</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>

        </section>



</body>
</html>