<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kids Wear</title>
    <link rel="stylesheet" href="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Style/kids.css"/>
    <script src="https://kit.fontawesome.com/4ee549fde5.js" crossorigin="anonymous"></script>
</head>

<body bgcolor="white">

<section class="packages" id="packages">

    <h1 class="heading">
        <span>K</span>
        <span>i</span>
        <span>d</span>
        <span>s</span>
        <span>W</span>
        <span>e</span>
        <span>a</span>
        <span>r</span></h1>
    <center><h1 style="color:Brown">GIRLS</h1></center>


    <div class="box-container">
        
        <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_1.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Frock<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1500<span> Rs.2000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
        </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_2.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Frock<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
       <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_3.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Frock<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.900<span> Rs.1500</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>    </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_4.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Frock<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_5.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> T-shirt<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.2999<span> Rs.4000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
</div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_6.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Long frock<p>Ethnic look with stunning designsbr>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.800<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>

<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_7.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Tops<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1500</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_8.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Frock<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1000<span> Rs.2000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_9.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Jerkin<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.899<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_10.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Skirt shirt<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_11.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Jerkin<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/girl_12.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Tops<p>Ethnic look with stunning designs<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>

        </section>
<hr>
<section class="packages" id="packages">

    
    <center><h1 style="color:Brown">BOYS</h1></center>


    <div class="box-container">
        
        <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_1.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i>overcoat<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
        </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_2.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.800<span> Rs.1500</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
       <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_3.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>    </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_4.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Black overcoat<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1000<span> Rs.2000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_5.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Jean<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.400<span> Rs.700</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
</div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_6.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Jacket<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.800<span> Rs.1500</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_7.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Jacket<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.900</span><br>
                   <a href="#book" class="btn">book now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_8.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> blue shirt<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.1500<span> Rs.2000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_9.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i>Dungaree<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_10.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Jeans<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1500</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_11.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> T-shirt<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.999<span> Rs.1999</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/kids/boy_12.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Jacket<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.900<span> Rs.1999</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>

        </section>



</body>
</html>