<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mens Wear</title>
    <link rel="stylesheet" href="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Style/Mens.css"/>
    <script src="https://kit.fontawesome.com/4ee549fde5.js" crossorigin="anonymous"></script>
</head>

<body bgcolor="white">

<section class="packages" id="packages">

    <h1 class="heading">
        <span>M</span>
        <span>e</span>
        <span>n</span>
        <span>'</span>
        <span>s</span>
        <span>W</span>
        <span>e</span>
        <span>a</span>
        <span>r</span></h1>
    <center><h1 style="color:Brown">FORMAL & CASUAL WEAR</h1></center>


    <div class="box-container">
        
        <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/form_1.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Formal Shirt<p>Dark blue and white check formal shirt<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
        </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/form_2.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Formal Shirt<p>Plain Dark blue shirt<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
       <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/form_3.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Formal Shirt<p>Silver color with dark border plain shirt<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>    </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/form_4.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Formal Shirt<p>Dark blue and white formal shirt<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/form_5.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Formal Shirt<p>White with black solid stipe shirt<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
</div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/form_6.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Formal Shirt<p>Sky blue shirt<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>

<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/Hoodie_1.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Casuals<p>Grey hoodie<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/Hoodie_2.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Casuals<p>red hoodie<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/Hoodie_3.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Casuals<p>black with white stipe hoodie<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/Hoodie_4.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Casuals<p>Plain silver hoodie<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/Hoodie_5.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Casuals<p>black hoodie<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/formal_wear/Hoodie_6.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> Casuals<p>silver mixed white hoodie<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.700<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>

        </section>
<hr>
<section class="packages" id="packages">

    
    <center><h1 style="color:Brown">TRADITIONAL WEAR</h1></center>


    <div class="box-container">
        
        <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_1.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i>Kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
        </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_2.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
       <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_3.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>    </div>
          <div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_4.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_5.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div>
</div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_6.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.500<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/kurta_7.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_8.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_9.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_10.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/Kurta_11.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>
<div class="box">
            <img src="https://fashionapp.s3.jp-tok.cloud-object-storage.appdomain.cloud/Images/mens/traditional_wear/kurta_12.jpg" alt=""/>
            <div class="content">
                <h3><i class="fa-solid fa-paperclip"></i> kurta<p>..<br>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <br>Rs.600<span> Rs.1000</span><br>
                   <a href="/buy" class="btn">Buy now</a></p></h3>
           </div></div>

        </section>



</body>
</html>